.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  color: whitesmoke;
  background-image: linear-gradient(#2e3192, #1bffff);
  text-align: center;
}

.sub-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.super-nucleus {
  height: 270px;
  width: 306px;
  border-radius: 18px;
}

.popup-word {
  color: #1bffff;
  font-size: 23px;
  cursor: pointer;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 85vw;
  height: 85vh;
  background-image: linear-gradient(#93a5cf, #e4efe9);
  border-radius: 27px;
}

.un-ol-list {
  list-style-type: none;
}

li {
  list-style-type: '✓';
  padding-left: 1ch;
}

::marker {
  color: crimson;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-btn-styles {
  padding: 9px;
  border-radius: 9px;
  background-color: white;
  cursor: pointer;
}

.li-item {
  margin: 6px;
}

.half {
  max-width: 630px;
}
